.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.test1 {
    font-size: 50px;
    font-weight: 700;
    color: blue;
}

.footer {
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: beige;
}

.test2 {
    font-size: 30px;
    font-weight: 600;
    color: brown;
}